body {
    background-color: #bebebe;
    font-family:sans-serif;
    border-top: 20px solid orangered;
}
h1 {
    color:orangered;
    padding: 20px;
}
h2 {
    color:red;
}
p {
    color:blueviolet;
}
footer {
    background-color: orangered;
    text-align: center;
    padding: 20px;
}